button{
    width: 100px;
    background-color: red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: black;
    padding: 20px;
    border: solid 3px black;
    border-radius: 5px;
}

button:hover{
    background-color: black;
    color: red;
    border: solid 3px red;
}
